* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header nav ul {
  padding: 10px;
  margin-left: 10px; }

main h1 {
  background-color: #00AB96;
  color: white;
  padding: 10px;
  margin-top: 30px; }

main .btn-card {
  background-color: #00AB96; }

main .card-body {
  margin-bottom: 30px;
  box-shadow: #00AB96; }

footer {
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer .contenedor {
    display: flex;
    flex-direction: column; }
  footer .redes-sociales a {
    display: inline-flex;
    color: #ffffff;
    height: 30px;
    width: 30px;
    background-color: #00AB96;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s; }
    footer .redes-sociales a:hover {
      transform: scale(1.3); }
