






%estilotitulo{
    background-color:$colorjyg ;
    color: white;
    padding: 30px;
    margin-top: 30px;
    text-align: center center;  
}




@mixin subtitulos ($colorfondo){
    background-color:$colorfondo ;
   

}





.btn-card {
    background-color: $colorjyg;

}
